<script type="application/ld+json">
  {
  "@context": "http://www.schema.org",
  "@type": "Person",
  "@id": "https://zeospec.com/",
  "name": "Arun Teja Godavarthi",
  "alternateName": "ZeoSpec",
  "nationality": "Indian",
  "birthPlace" : {
    "@type": "Place",
      "address": {
        "@type": "PostalAddress",
      "addressLocality": "Siruguppa",
      "addressRegion": "Karnataka",
          "addressCountry": "India"
    }
  },
  "award": [
    "Memorial Leadership Award",
    "Best Executive Council Member",
    "Outstanding District Secretary"
  ],
  "affiliation": [
      {
      "@type": "Organization",
      "name": "Rotaract 3190",
      "sameAs": [
        "https://twitter.com/Rotaract3190",
        "https://www.facebook.com/rotaract3190",
        "https://www.instagram.com/rotaract3190/",
        "https://www.youtube.com/rotaract3190YT",
        "https://rotaract3190.org/"
      ]
      }
  ],
  "alumniOf": [
   {
    "@type": "CollegeOrUniversity",
    "name": "CMR Institute of Technology",
    "sameAs": [
       "https://en.wikipedia.org/wiki/CMR_Institute_of_Technology",
       "https://www.facebook.com/CMRInstituteOfTechnologyBangalore/",
       "https://twitter.com/CMRIT_Bengaluru",
       "https://www.instagram.com/cmrit.bangalore/",
       "https://www.youtube.com/channel/UCpi96paEf16WS-Xf0_xyL9Q/",
       "https://www.cmrit.ac.in/"
     ]
   },
   {
    "@type": "CollegeOrUniversity",
    "name": "St. Joseph’s Pre-University College",
    "alternateName": "SJPUC",
    "sameAs": [
       "https://en.wikipedia.org/wiki/St._Joseph's_Pre-University_College",
       "http://www.sjpuc.in/",
       "https://www.facebook.com/St.JosephsPUC/",
       "https://www.instagram.com/sjpuc/",
       "https://www.linkedin.com/company/sjpuc/about/"
     ]
   },
   {
    "@type": "CollegeOrUniversity",
    "name": "Christ The King School",
    "sameAs": "https://www.facebook.com/christhekinginstitutions/"
   }
  ],
  "gender": "Male",
  "Description": "Community Builder",
  "disambiguatingDescription": "District Rotaract Secretary, Operations & Training at Rotaract 3190",
  "jobTitle": "District Rotaract Secretary, Operations & Training",
  "worksFor": [
    {
      "@type": "Organization",
      "name": "Rotaract 3190",
      "sameAs": [
        "https://twitter.com/Rotaract3190",
        "https://www.facebook.com/rotaract3190",
        "https://www.instagram.com/rotaract3190/",
        "https://www.youtube.com/rotaract3190YT",
        "https://rotaract3190.org/"
      ]
    }
  ],
  "url": "https://zeospec.com/",
  "image": "https://s.gravatar.com/avatar/915cb326f3995b9f28a224470799af79?s=512&r=g",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "Bangalore",
    "addressRegion": "Karnataka",
    "addressCountry": "India"
  },
  "sameAs": [
    "https://twitter.com/ZeoSpec",
    "https://www.facebook.com/zeospec/",
    "https://www.instagram.com/ZeoSpec/",
    "https://github.com/zeospec",
    "https://rtr.zeospec.com/"
    ]
  }
  </script>