<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.data.config.title }}</title>
  <meta name="description" content="{{ site.data.config.description }}">

  <meta property="og:title" content="{{ site.data.config.title }}">
	<meta property="og:type" content="website">
	<meta property="og:url" content="https://rtr.zeospec.com/">
	<meta property="og:site_name" content="{{ site.data.config.title }}" />
	<meta property="og:image" content="{{ site.data.config.og_img | absolute_url }}" />
	<meta property="og:description"
		content="{{ site.data.config.description }}">
	<meta name="twitter:card" content="summary">
	<meta name="twitter:creator" content="@zeospec">
  <meta name="twitter:site" content="@zeospec">
	<meta name="twitter:title" content="{{ site.data.config.title }}">
	<meta name="twitter:description"
		content="{{ site.data.config.description }}">
	<meta name="twitter:domain" content="rtr.zeospec.com">
	<meta name="twitter:image:src" content="{{ site.data.config.og_img | absolute_url }}">
	<meta name="description"
		content="{{ site.data.config.description }}">
	<meta name="subject" content="{{ site.data.config.title }}">
	<meta name="url" content="https://rtr.zeospec.com/">
	<meta name="identifier-URL" content="https://rtr.zeospec.com/">
	<meta name="category" content="portfolio">
	<meta http-equiv="cache-control" content="public" />
	<meta http-equiv="Expires" content="0">
	<meta name="theme-color" content="#2b2d2f">


  <link rel="apple-touch-icon" sizes="180x180" href="{{ "/assets/favicon/apple-touch-icon.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ "/assets/favicon/favicon-32x32.png" | absolute_url }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ "/assets/favicon/favicon-16x16.png" | absolute_url }}">
  <link rel="manifest" href="{{ "/assets/favicon/site.webmanifest" | absolute_url }}">

  <link rel="stylesheet" href="{{ "/assets/css/main.min.css" | absolute_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/vendors.min.css" | absolute_url }}">

  <script src="{{ "/assets/js/vendors.min.js" | absolute_url }}"></script>
  <script src="{{ "/assets/js/app.min.js" | absolute_url }}"></script>
</head>

<body>
  <div id="preloader">
    <div class="load">
      <hr />
      <hr />
      <hr />
      <hr />
    </div>
  </div>
  {% include landing-page.html %}
  <div class="layout">
    {%if site.data.config.show_aboutme_card %}
    <section class="card neumorphism-card-big">
      {% include section-aboutme.html %}
    </section>
    {% endif %}
    {%if site.data.config.show_skills_card %}
    <section class="card neumorphism-card-big">
      {% include section-skills.html %}
    </section>
    {% endif %}
    {%if site.data.config.show_timeline_card %}
    <section class="card neumorphism-card-big">
      {% include section-timeline.html %}
    </section>
    {% endif %}
    {%if site.data.config.show_projects_card %}
    <section class="card neumorphism-card-big">
      {% include section-projects.html %}
    </section>
    {% endif %}
    {%if site.data.config.show_contact_card %}
    <section class="card neumorphism-card-big">
      {% include section-contact.html %} 
    </section>
    {% endif %}
  </div>
  {% include footer.html %}
</body>

</html>